{
  "super_admin": {
    "email": "",
    "password": ""
  },
  "admin": {
    "email": "",
    "password": ""
  },
  "user": {
    "email": "",
    "password": ""
  },
  "doorman": {
    "email": "",
    "password": ""
  },
  "crz_user": {
    "email": "",
    "password": ""
  }
}
